<li id="user_{{ user.id }}"
    class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto w-100">
        <h4 class="fw-bold">{{ user.user_name }}</h4>
        <div class="d-flex justify-content-between align-items-center w-100">
            <span>{{ user.role.title }}</span>
            <button class="btn btn-link"
                    hx-get="/user/form/update/{{ user.id }}"
                    hx-target="#user_{{ user.id }}"
                    hx-swap="innerHTML">Редактировать</button>
        </div>
    </div>
</li>