<h4>
    {% if role %}
        Редактирование роли
    {% else %}
        Добавление роли
    {% endif %}
</h4>
<form class="d-flex flex-column justify-content-between align-items-center w-100"
      {% if role %}
          hx-put="/role/{{ role.id }}"
          hx-trigger="submit"
          hx-target="#role_{{ role.id }}"
          hx-swap="outerHTML"
      {% else %}
          hx-post="/role/create"
          hx-trigger="submit"
          hx-target="#role-list"
          hx-swap="beforeend"
      {% endif %}
      hx-on::after-request="this.reset()">
    <div class="w-100">
        <label class="form-label"
               {% if role %}
                   for="title_{{ role.id }}"
               {% else %}
                   for="title"
               {% endif %}>Название</label>
        <input type="text"
               name="title"
               {% if role %}
                   value="{{ role.title }}"
                   id="title_{{ role.id }}"
               {% else %}
                   id="title"
               {% endif %}
               placeholder="Название"
               class="form-control"/>
    </div>
    <div class="w-100 mt-3">
        <label class="form-label"
               {% if role %}
                   for="description_{{ role.id }}"
               {% else %}
                   for="description"
               {% endif %}>Описание</label>
        <textarea name="description"
                  placeholder="Описание"
                  {% if role %}
                      id="description_{{ role.id }}"
                  {% else %}
                      id="description"
                  {% endif %}
                  class="form-control"
                  style="resize: none">{% if role %}{{ role.description }}{% endif %}</textarea>
    </div>
    <div class="w-100 mt-4 d-flex justify-content-between align-items-center">
        <button type="submit" class="btn btn-primary w-50">Сохранить</button>
        {% if role %}
            <button class="btn btn-secondary"
                    hx-get="/role/form/create"
                    hx-target="#role-form"
                    hx-swap="innerHTML">Отмена</button>
        {% else %}
            <button type="reset" class="btn btn-secondary">Отмена</button>
        {% endif %}
    </div>
</form>